.idea/
.idea/copyright/
.idea/deployment.xml
/bitrix/
/local/node_modules/
/upload/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/after_connect_d7.php
/bitrix/php_interface/after_connect.php
/bitrix/cache/*
/bitrix/managed_cache/*
/bitrix/stack_cache/*
/bitrix/html_pages/
/bitrix/backup/*
/bitrix/.settings.php
/bitrix/*.log
/bitrix/php_interface/.htaccess
/local/templates/benran_main/node_modules/
/local/templates/events_main/node_modules/

/test
*.txt
*.log
*.xml
*.zip
/*.log
/robots.txt
*.tar.gz*
*.xml.gz*
*.psd
.htaccess
package-lock.json
/test/

!local/php_interface/migrations/**/*.xml
.editorconfig

local/php_interface/vendor/