/* START: Tag list */
.с-searchbar-tag-list {
	display: flex;
	flex-wrap: wrap;
	align-self: flex-start;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.с-searchbar-tag-list__item {
	margin-top: 0.875rem;
}

.с-searchbar-tag-list__item:not(:last-of-type) {
	margin-right: 0.875rem;
}

.с-searchbar-tag-list__link {
	text-decoration: none;
	color: #e6ddcf;
	transition: color .15s ease-in-out;
}
/* END: Tag list */

/* START: Searchbar */
.с-searchbar {
	padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #123a54;
}

.с-searchbar__form {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100%;
}

.с-searchbar__textfield {
	position: relative;
	display: block;
	width: 100%;
	min-height: calc(2.5em + 0.625rem + 0.125rem);
    padding: 0.8125rem 3.5rem 0.8125rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #123a54;
	background-color: #e6ddcf;
	background-clip: padding-box;
	border: 0.0625rem solid #e6ddcf;
	border-radius: 0.25rem;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.с-searchbar__textfield:focus {
	color: #123a54;
	background-color: #fff;
	border-color: #c5b4aa;
	outline: 0;
	box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(230, 221, 207, 0.1);
}

.с-searchbar__textfield::placeholder {
	color: #918d89;
	text-overflow: ellipsis;
}

.с-searchbar__btn {
	position: absolute;
	top: 0;
	right: 1rem;
	bottom: 0;
	width: 2rem;
	height: 2rem;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0.25rem;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23bf6b6b' d='M351,184v-1.2c0-1.2,0-1.2,0-2.5c0,0,0,0,0-1.2c0-1.2,0-3.7,0-6.1c0-4.9,0-9.8,0-14.7 c-2.5-18.4-6.3-36.9-12.7-55.3c-6.3-13.5-12.7-29.5-22.8-41.8c-11.4-13.5-26.6-24.6-43.1-30.7c-12.7-3.7-25.3-9.8-38-13.5 c-6.3-2.5-12.7-4.9-20.3-6.1c-3.8-1.2-7.6-1.2-10.1-2.5c-2.5,0-6.3-1.2-8.9-1.2c-1.3,0-3.8,0-5.1-1.2h-1.3h-1.3h-1.3l-3.8-1.2 c-5.1-1.2-8.9-2.5-13.9-3.7c-8.9-1.2-19-2.5-26.6,3.7c-2.5,1.2-5.1,2.5-7.6,2.5c-5.1,1.2-10.1,2.5-15.2,3.7 c-6.3,1.2-11.4,1.2-16.5,2.5C91.2,15.7,81.1,20.7,76,30.5c-3.8,4.9-7.6,8.6-11.4,11.1c-3.8,3.7-8.9,6.1-12.7,9.8 c-5.1,3.7-10.1,9.8-13.9,14.7c-3.8,6.1-7.6,12.3-10.1,17.2c-6.3,12.3-10.1,24.6-16.5,36.9c-2.5,6.1-3.8,12.3-5.1,18.4 c-1.3,6.1-2.5,12.3-3.8,18.4C0,161.9,0,166.8,0,170.5c0,3.7,1.3,7.4,2.5,11.1c1.3,4.9,1.3,8.6,2.5,13.5c1.3,3.7,0,8.6,0,12.3 c0,1.2,1.3,1.2,2.5,2.5c2.5,9.8,11.4,18.4,10.1,29.5c0,7.4-2.5,17.2,3.8,23.3c8.9,13.5,19,25.8,27.9,39.3 c3.8,4.9,7.6,11.1,13.9,14.7c21.5,18.4,48.2,28.3,74.8,33.2c7.6,1.2,13.9,2.5,21.5,2.5c3.8,0,7.6,1.2,10.1,1.2 c3.8,0,6.3,1.2,10.1,2.5c1.3,0,2.5,1.2,3.8,1.2c1.3,0,1.3,0,2.5,0c1.3,0,0,0,1.3,0h1.3c3.8-1.2,6.3-1.2,8.9-1.2 c5.1,1.2,10.1,1.2,15.2,0c5.1-1.2,10.1-1.2,13.9-3.7c19-6.1,38-13.5,54.5-24.6c12.7-8.6,24.1-18.4,32.9-30.7 c3.8-3.7,6.3-8.6,7.6-13.5c2.5-4.9,5.1-9.8,7.6-13.5c2.5-2.5,3.8-8.6,5.1-12.3c1.3-3.7,3.8-6.1,3.8-9.8c1.3-6.1,3.8-13.5,5.1-19.7 c1.3-4.9,2.5-11.1,3.8-14.7c1.3-3.7,1.3-7.4,1.3-11.1c0-1.2,0-2.5,0-4.9c1.3-2.5,0-3.7,0-6.1c0-4.9-1.3-4.9-2.5-6.1 c-1.3-1.2-2.5,1.2-2.5,4.9c0,1.2,0,1.2,0,2.5c-1.3,2.5-1.3,6.1-1.3,8.6c0,2.5,0,6.1-1.3,9.8c0,3.7,0,7.4-2.5,9.8 c-1.3,1.2-1.3,3.7-1.3,4.9c0,2.5-1.3,4.9-2.5,7.4c-1.3,2.5-2.5,4.9-3.8,7.4c-1.3,1.2-1.3,3.7-1.3,4.9c-3.8,7.4-7.6,14.7-12.7,22.1 c-1.3,2.5-2.5,4.9-3.8,6.1c-2.5,3.7-5.1,6.1-8.9,9.8c-5.1,3.7-6.3,8.6-11.4,12.3c-8.9,6.1-17.7,11.1-27.9,14.7 c-5.1,2.5-11.4,1.2-15.2,3.7c-11.4,7.4-25.3,7.4-38,9.8c-5.1,0-8.9,0-13.9-1.2c-2.5,0-5.1-1.2-6.3-1.2c-1.3,0-2.5,0-3.8,0h-1.3H185 c2.5,0,1.3,0,1.3,0H185c-2.5-1.2-6.3-2.5-8.9-2.5c-1.3,0-2.5-1.2-5.1-1.2l-3.8-1.2c-5.1-1.2-8.9-1.2-15.2-2.5 c-6.3-1.2-11.4-2.5-16.5-6.1c-5.1-4.9-10.1-6.1-16.5-7.4C109,297,103.9,287.2,95,281.1c-3.8-2.5-2.5-8.6-5.1-11.1 c-3.8-2.5-6.3-6.1-7.6-9.8c-1.3-6.1-2.5-12.3-8.9-14.7c-2.5-1.2-6.3-3.7-3.8-7.4c6.3-8.6-1.3-11.1-2.5-16c0-8.6-10.1-16-7.6-27 c1.3-2.5,1.3-3.7,1.3-6.1c0,3.7,0,1.2,0,2.5v-1.2v-2.5V184c0-2.5,0-4.9,0-8.6c0-2.5,1.3-3.7,1.3-4.9c2.5-3.7,5.1-9.8,6.3-14.7 c2.5-4.9,3.8-9.8,6.3-14.7c1.3-2.5,2.5-4.9,2.5-7.4c1.3-4.9,2.5-11.1,11.4-9.8c1.3,0,2.5,0,3.8,0c6.3-13.5,11.4-20.9,19-27 c7.6-4.9,15.2-8.6,24.1-11.1c2.5-1.2,1.3-8.6,6.3-6.1c6.3,3.7,10.1,3.7,13.9-2.5c2.5-3.7,5.1-7.4,8.9-6.1c3.8,0,7.6,2.5,11.4,3.7 c2.5,1.2,3.8,1.2,5.1,1.2c1.3,0,1.3,0,2.5,0h1.3h1.3c-5.1,0-1.3,0-2.5,0c3.8,0,6.3-1.2,10.1-2.5c3.8,0,7.6,0,7.6,1.2 c3.8,3.7,5.1,6.1,10.1,6.1c3.8,0,7.6,0,12.7,0c3.8,0,8.9,0,12.7,1.2c5.1,0,15.2-4.9,20.3-2.5c11.4,3.7,27.9,4.9,35.5,16 c3.8,3.7,8.9,7.4,13.9,9.8c5.1,3.7,8.9,7.4,12.7,12.3c2.5,3.7,7.6,7.4,8.9,11.1c0,6.1,6.3,11.1,8.9,17.2c2.5,4.9,3.8,11.1,5.1,16 c1.3,4.9,1.3,11.1,1.3,16c0,3.7,1.3,6.1,2.5,7.4c1.3,1.2,2.5,1.2,3.8,1.2C351,185.3,351,184,351,184z M512,503.4 C512,503.4,512,502.2,512,503.4c0-1.2,0-1.2,0-1.2v-1.2c0-1.2,0-3.7,0-4.9c-1.3-4.9-1.3-11.1-1.3-17.2c0-4.9,1.3-11.1-1.3-12.3 c-2.5-2.5-6.3-4.9-11.4-3.7c-8.9,1.2-8.9-7.4-11.4-11.1c-2.5-2.5,6.3-16-2.5-12.3c-1.3,0-1.3,0-2.5,0c-3.8-1.2,3.8-14.7-7.6-9.8 c-5.1,2.5-5.1-1.2-6.3-2.5c-3.8-3.7-13.9-2.5-16.5-6.1c-1.3-2.5-6.3,0-7.6-2.5c-2.5-2.5-11.4,1.2-12.7-2.5h-1.3 c-2.5,0-6.3,0-7.6-2.5c0-2.5,0-3.7-2.5-4.9c-3.8-1.2-6.3-3.7-7.6-6.1c-1.3-1.2-1.3-2.5-1.3-3.7c-1.3-2.5-2.5-4.9-3.8-8.6 c-1.3-2.5-2.5-4.9-3.8-7.4c-1.3-2.5-6.3-2.5-2.5-9.8c2.5-3.7-2.5-1.2-2.5-3.7c1.3-4.9,1.3-7.4-1.3-8.6c-3.8-2.5-5.1-6.1-5.1-12.3 c0-4.9-2.5-6.1-2.5-11.1c0-1.2-3.8,1.2-7.6,2.5c-3.8,1.2-6.3,2.5-5.1,0c0-1.2-3.8,0-6.3,1.2c-2.5,1.2,1.3-3.7-2.5-1.2 c-6.3,3.7-7.6,2.5-10.1,2.5c-1.3,0-5.1,1.2-5.1,0c0-1.2-2.5,0-3.8,0c-1.3,0-1.3,0-1.3,0c0-1.2-1.3,0-2.5,0s-2.5,1.2-3.8,2.5 c-1.3,1.2-1.3,2.5-1.3,2.5s0,0,0,1.2c-2.5,4.9-2.5,7.4,0,6.1c1.3,0,2.5,0,0,3.7c-1.3,1.2-1.3,2.5,0,1.2c3.8-2.5,2.5,0,0,2.5 c-3.8,3.7-2.5,3.7-1.3,4.9v1.2c0,2.5,1.3,4.9,2.5,6.1c0,0,2.5-1.2,3.8-1.2c2.5-1.2,1.3,1.2,0,3.7c-1.3,3.7,6.3-2.5,5.1,1.2 c-1.3,4.9-2.5,9.8-2.5,12.3c0,1.2-6.3,9.8-3.8,8.6c6.3-1.2,5.1,4.9,8.9,6.1c2.5,1.2-2.5,8.6,3.8,6.1c-1.3,4.9,5.1,2.5,10.1,1.2 c2.5-1.2,6.3-1.2,6.3,0c1.3,1.2,3.8,0,7.6,0c5.1-1.2,6.3,1.2,11.4,2.5c1.3,0,1.3,2.5,2.5,2.5s2.5,1.2,3.8,2.5c0,2.5,1.3,3.7,3.8,3.7 c1.3,0,2.5,0,1.3,2.5c-1.3,3.7,1.3,3.7,1.3,6.1c0,3.7,3.8,3.7,3.8,8.6c-1.3,4.9,1.3,6.1,1.3,9.8c0,2.5,0,4.9,0,7.4s1.3,3.7,2.5,4.9 c0,1.2,1.3,1.2,2.5,1.2c2.5,0,3.8,0,1.3,6.1c0,1.2-1.3,2.5-1.3,2.5c2.5,1.2,6.3,2.5,7.6,4.9c1.3,2.5,2.5,6.1,2.5,8.6 c0,1.2,6.3-3.7,3.8,0c-3.8,4.9-3.8,7.4,1.3,4.9c2.5-1.2,5.1-2.5,5.1-1.2c0,3.7-3.8,11.1-1.3,11.1c2.5,0,5.1-1.2,3.8,2.5 c-1.3,2.5-2.5,6.1-1.3,7.4c2.5,1.2,6.3,1.2,8.9,1.2s10.1-6.1,12.7-4.9c3.8,1.2,13.9-3.7,13.9,1.2c1.3,2.5,11.4-2.5,12.7,0 c1.3,1.2,6.3-2.5,5.1,0c-1.3,3.7,3.8,1.2,6.3,0c5.1-1.2,6.3,2.5,8.9,2.5c1.3,0,2.5,0,3.8-1.2C509.5,505.9,510.7,505.9,512,503.4z' /%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	border: none;
	border-radius: 0;
	transition: background 0.15s ease;
}

.с-searchbar__btn:hover,
.с-searchbar__btn:focus {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23db5155' d='M351,184v-1.2c0-1.2,0-1.2,0-2.5c0,0,0,0,0-1.2c0-1.2,0-3.7,0-6.1c0-4.9,0-9.8,0-14.7 c-2.5-18.4-6.3-36.9-12.7-55.3c-6.3-13.5-12.7-29.5-22.8-41.8c-11.4-13.5-26.6-24.6-43.1-30.7c-12.7-3.7-25.3-9.8-38-13.5 c-6.3-2.5-12.7-4.9-20.3-6.1c-3.8-1.2-7.6-1.2-10.1-2.5c-2.5,0-6.3-1.2-8.9-1.2c-1.3,0-3.8,0-5.1-1.2h-1.3h-1.3h-1.3l-3.8-1.2 c-5.1-1.2-8.9-2.5-13.9-3.7c-8.9-1.2-19-2.5-26.6,3.7c-2.5,1.2-5.1,2.5-7.6,2.5c-5.1,1.2-10.1,2.5-15.2,3.7 c-6.3,1.2-11.4,1.2-16.5,2.5C91.2,15.7,81.1,20.7,76,30.5c-3.8,4.9-7.6,8.6-11.4,11.1c-3.8,3.7-8.9,6.1-12.7,9.8 c-5.1,3.7-10.1,9.8-13.9,14.7c-3.8,6.1-7.6,12.3-10.1,17.2c-6.3,12.3-10.1,24.6-16.5,36.9c-2.5,6.1-3.8,12.3-5.1,18.4 c-1.3,6.1-2.5,12.3-3.8,18.4C0,161.9,0,166.8,0,170.5c0,3.7,1.3,7.4,2.5,11.1c1.3,4.9,1.3,8.6,2.5,13.5c1.3,3.7,0,8.6,0,12.3 c0,1.2,1.3,1.2,2.5,2.5c2.5,9.8,11.4,18.4,10.1,29.5c0,7.4-2.5,17.2,3.8,23.3c8.9,13.5,19,25.8,27.9,39.3 c3.8,4.9,7.6,11.1,13.9,14.7c21.5,18.4,48.2,28.3,74.8,33.2c7.6,1.2,13.9,2.5,21.5,2.5c3.8,0,7.6,1.2,10.1,1.2 c3.8,0,6.3,1.2,10.1,2.5c1.3,0,2.5,1.2,3.8,1.2c1.3,0,1.3,0,2.5,0c1.3,0,0,0,1.3,0h1.3c3.8-1.2,6.3-1.2,8.9-1.2 c5.1,1.2,10.1,1.2,15.2,0c5.1-1.2,10.1-1.2,13.9-3.7c19-6.1,38-13.5,54.5-24.6c12.7-8.6,24.1-18.4,32.9-30.7 c3.8-3.7,6.3-8.6,7.6-13.5c2.5-4.9,5.1-9.8,7.6-13.5c2.5-2.5,3.8-8.6,5.1-12.3c1.3-3.7,3.8-6.1,3.8-9.8c1.3-6.1,3.8-13.5,5.1-19.7 c1.3-4.9,2.5-11.1,3.8-14.7c1.3-3.7,1.3-7.4,1.3-11.1c0-1.2,0-2.5,0-4.9c1.3-2.5,0-3.7,0-6.1c0-4.9-1.3-4.9-2.5-6.1 c-1.3-1.2-2.5,1.2-2.5,4.9c0,1.2,0,1.2,0,2.5c-1.3,2.5-1.3,6.1-1.3,8.6c0,2.5,0,6.1-1.3,9.8c0,3.7,0,7.4-2.5,9.8 c-1.3,1.2-1.3,3.7-1.3,4.9c0,2.5-1.3,4.9-2.5,7.4c-1.3,2.5-2.5,4.9-3.8,7.4c-1.3,1.2-1.3,3.7-1.3,4.9c-3.8,7.4-7.6,14.7-12.7,22.1 c-1.3,2.5-2.5,4.9-3.8,6.1c-2.5,3.7-5.1,6.1-8.9,9.8c-5.1,3.7-6.3,8.6-11.4,12.3c-8.9,6.1-17.7,11.1-27.9,14.7 c-5.1,2.5-11.4,1.2-15.2,3.7c-11.4,7.4-25.3,7.4-38,9.8c-5.1,0-8.9,0-13.9-1.2c-2.5,0-5.1-1.2-6.3-1.2c-1.3,0-2.5,0-3.8,0h-1.3H185 c2.5,0,1.3,0,1.3,0H185c-2.5-1.2-6.3-2.5-8.9-2.5c-1.3,0-2.5-1.2-5.1-1.2l-3.8-1.2c-5.1-1.2-8.9-1.2-15.2-2.5 c-6.3-1.2-11.4-2.5-16.5-6.1c-5.1-4.9-10.1-6.1-16.5-7.4C109,297,103.9,287.2,95,281.1c-3.8-2.5-2.5-8.6-5.1-11.1 c-3.8-2.5-6.3-6.1-7.6-9.8c-1.3-6.1-2.5-12.3-8.9-14.7c-2.5-1.2-6.3-3.7-3.8-7.4c6.3-8.6-1.3-11.1-2.5-16c0-8.6-10.1-16-7.6-27 c1.3-2.5,1.3-3.7,1.3-6.1c0,3.7,0,1.2,0,2.5v-1.2v-2.5V184c0-2.5,0-4.9,0-8.6c0-2.5,1.3-3.7,1.3-4.9c2.5-3.7,5.1-9.8,6.3-14.7 c2.5-4.9,3.8-9.8,6.3-14.7c1.3-2.5,2.5-4.9,2.5-7.4c1.3-4.9,2.5-11.1,11.4-9.8c1.3,0,2.5,0,3.8,0c6.3-13.5,11.4-20.9,19-27 c7.6-4.9,15.2-8.6,24.1-11.1c2.5-1.2,1.3-8.6,6.3-6.1c6.3,3.7,10.1,3.7,13.9-2.5c2.5-3.7,5.1-7.4,8.9-6.1c3.8,0,7.6,2.5,11.4,3.7 c2.5,1.2,3.8,1.2,5.1,1.2c1.3,0,1.3,0,2.5,0h1.3h1.3c-5.1,0-1.3,0-2.5,0c3.8,0,6.3-1.2,10.1-2.5c3.8,0,7.6,0,7.6,1.2 c3.8,3.7,5.1,6.1,10.1,6.1c3.8,0,7.6,0,12.7,0c3.8,0,8.9,0,12.7,1.2c5.1,0,15.2-4.9,20.3-2.5c11.4,3.7,27.9,4.9,35.5,16 c3.8,3.7,8.9,7.4,13.9,9.8c5.1,3.7,8.9,7.4,12.7,12.3c2.5,3.7,7.6,7.4,8.9,11.1c0,6.1,6.3,11.1,8.9,17.2c2.5,4.9,3.8,11.1,5.1,16 c1.3,4.9,1.3,11.1,1.3,16c0,3.7,1.3,6.1,2.5,7.4c1.3,1.2,2.5,1.2,3.8,1.2C351,185.3,351,184,351,184z M512,503.4 C512,503.4,512,502.2,512,503.4c0-1.2,0-1.2,0-1.2v-1.2c0-1.2,0-3.7,0-4.9c-1.3-4.9-1.3-11.1-1.3-17.2c0-4.9,1.3-11.1-1.3-12.3 c-2.5-2.5-6.3-4.9-11.4-3.7c-8.9,1.2-8.9-7.4-11.4-11.1c-2.5-2.5,6.3-16-2.5-12.3c-1.3,0-1.3,0-2.5,0c-3.8-1.2,3.8-14.7-7.6-9.8 c-5.1,2.5-5.1-1.2-6.3-2.5c-3.8-3.7-13.9-2.5-16.5-6.1c-1.3-2.5-6.3,0-7.6-2.5c-2.5-2.5-11.4,1.2-12.7-2.5h-1.3 c-2.5,0-6.3,0-7.6-2.5c0-2.5,0-3.7-2.5-4.9c-3.8-1.2-6.3-3.7-7.6-6.1c-1.3-1.2-1.3-2.5-1.3-3.7c-1.3-2.5-2.5-4.9-3.8-8.6 c-1.3-2.5-2.5-4.9-3.8-7.4c-1.3-2.5-6.3-2.5-2.5-9.8c2.5-3.7-2.5-1.2-2.5-3.7c1.3-4.9,1.3-7.4-1.3-8.6c-3.8-2.5-5.1-6.1-5.1-12.3 c0-4.9-2.5-6.1-2.5-11.1c0-1.2-3.8,1.2-7.6,2.5c-3.8,1.2-6.3,2.5-5.1,0c0-1.2-3.8,0-6.3,1.2c-2.5,1.2,1.3-3.7-2.5-1.2 c-6.3,3.7-7.6,2.5-10.1,2.5c-1.3,0-5.1,1.2-5.1,0c0-1.2-2.5,0-3.8,0c-1.3,0-1.3,0-1.3,0c0-1.2-1.3,0-2.5,0s-2.5,1.2-3.8,2.5 c-1.3,1.2-1.3,2.5-1.3,2.5s0,0,0,1.2c-2.5,4.9-2.5,7.4,0,6.1c1.3,0,2.5,0,0,3.7c-1.3,1.2-1.3,2.5,0,1.2c3.8-2.5,2.5,0,0,2.5 c-3.8,3.7-2.5,3.7-1.3,4.9v1.2c0,2.5,1.3,4.9,2.5,6.1c0,0,2.5-1.2,3.8-1.2c2.5-1.2,1.3,1.2,0,3.7c-1.3,3.7,6.3-2.5,5.1,1.2 c-1.3,4.9-2.5,9.8-2.5,12.3c0,1.2-6.3,9.8-3.8,8.6c6.3-1.2,5.1,4.9,8.9,6.1c2.5,1.2-2.5,8.6,3.8,6.1c-1.3,4.9,5.1,2.5,10.1,1.2 c2.5-1.2,6.3-1.2,6.3,0c1.3,1.2,3.8,0,7.6,0c5.1-1.2,6.3,1.2,11.4,2.5c1.3,0,1.3,2.5,2.5,2.5s2.5,1.2,3.8,2.5c0,2.5,1.3,3.7,3.8,3.7 c1.3,0,2.5,0,1.3,2.5c-1.3,3.7,1.3,3.7,1.3,6.1c0,3.7,3.8,3.7,3.8,8.6c-1.3,4.9,1.3,6.1,1.3,9.8c0,2.5,0,4.9,0,7.4s1.3,3.7,2.5,4.9 c0,1.2,1.3,1.2,2.5,1.2c2.5,0,3.8,0,1.3,6.1c0,1.2-1.3,2.5-1.3,2.5c2.5,1.2,6.3,2.5,7.6,4.9c1.3,2.5,2.5,6.1,2.5,8.6 c0,1.2,6.3-3.7,3.8,0c-3.8,4.9-3.8,7.4,1.3,4.9c2.5-1.2,5.1-2.5,5.1-1.2c0,3.7-3.8,11.1-1.3,11.1c2.5,0,5.1-1.2,3.8,2.5 c-1.3,2.5-2.5,6.1-1.3,7.4c2.5,1.2,6.3,1.2,8.9,1.2s10.1-6.1,12.7-4.9c3.8,1.2,13.9-3.7,13.9,1.2c1.3,2.5,11.4-2.5,12.7,0 c1.3,1.2,6.3-2.5,5.1,0c-1.3,3.7,3.8,1.2,6.3,0c5.1-1.2,6.3,2.5,8.9,2.5c1.3,0,2.5,0,3.8-1.2C509.5,505.9,510.7,505.9,512,503.4z' /%3E%3C/svg%3E%0A");
}

.с-searchbar__btn:focus {
	outline: none;
}

@media (min-width: 48em) {
	.с-searchbar {
		padding-top: 2.5rem;
    	padding-bottom: 2.5rem;
	}
}

@media (min-width: 87.5em) {
	.с-searchbar__container {
		max-width: 60rem !important;
	}
}

/* END: Searchbar */

/* START: Search page list item */
.с-search-page-list-item {

}

.с-search-page-list-item__container {
	max-width: 65rem;
}

.с-search-page-list-item__title {
	color: #bf6b6b;
}

.с-search-page-list-item__title-link {
	color: #bf6b6b;
	text-decoration: none;
	transition: color .15s ease-in-out;
}

.с-search-page-list-item__text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #475b68;
}

.с-search-page-list-item__footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.с-search-page-list-item__section {
	margin-right: 1.25rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.45;
	letter-spacing: 0.01em;
	color: #bf6b6b;
}

.с-search-page-list-item__section > a {
	text-decoration: none;
}

.с-search-page-list-item__date {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.45;
	letter-spacing: 0.01em;
	color: #bdbdbd;
}

/* END: Search page list item */

/* START: Search page list */
.с-search-page-list {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	background-color: #fff;
}

.с-search-page-list__section {
	padding-top: 1.75rem;
	padding-bottom: 2.25rem;
	border-bottom: 0.0625rem solid #c5b4aa;
}

.с-search-page-list__title {
	margin-bottom: 1.75rem;
	font-size: calc(1.325rem + 0.9vw);
}

.с-search-page-list__list {
	display: grid;
	row-gap: 1.75rem;
}

@media (min-width: 48em) {
	.с-search-page-list {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

@media (min-width: 75em) {
	.с-search-page-list__title {
		font-size: 2rem;
	}
}

/* END: Search page list */

/* START: Search page */
.с-search-page {
	position: relative;
}

.с-search-page__searchbar {
	margin-top: -7.5rem;
}

@media (min-width: 48em) {
	.с-search-page__searchbar {
		margin-top: -11.75rem;
	}
}

/* END: Search page */
